.square {
    width: 75px;
    height: 75px;
}

.dark-tile{
    background-color: #363636;
}

.light-tile {
    background-color: #595959;
}

.square .chess-piece {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
}

.square .chess-piece:hover {
    cursor: grab;
}

.square .chess-piece:active {
    cursor: grabbing;
}

.square img {
    width: 60px;
}

.square-highlight:not(.chess-piece-square)::before {
    content: " ";
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.4);
}

.square-highlight.chess-piece-square::before {
    position: absolute;
    content: " ";
    width: 75px;
    height: 75px;
    border: 5px solid rgba(0,0,0,0.4);
    border-radius: 50%;
}