#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 75px);
    grid-template-rows: repeat(8, 75px);
    width: 600px;
    height: 600px;
    background-color: blue;
}

.modal {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.modal.hidden {
    display: none;
}

.modal > .modal-body {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 300px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 600px;
    background-color: rgba(127, 127, 127, 0.8);
}

.modal > .modal-body > img {
    height: 120px;
    padding: 20px;
    border-radius: 50%;
}

.modal > .modal-body > img:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.modal > .modal-body > .checkmate-body {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.modal > .modal-body > .checkmate-body > span {
    font-size: 32px;
}

.modal > .modal-body > .checkmate-body > button {
    background-color: #779556;
    border: none;
    border-radius: 8px;
    padding: 24px 48px;
    font-size: 32px;
    color: white;
}

.modal > .modal-body > .checkmate-body > button:hover {
    cursor: pointer;
}

.move-history {
    position: relative;
    max-width: 600px; /* Limit the width to match the width of the chessboard */
    max-height: 200px; /* Limit the height to 200px */
    margin-top: 10px; /* Add some space between the board and the move history */
    color: black; /* Set text color to black */
    overflow: auto; /* Add scrollbar if content exceeds max-width or max-height */
}

.moves-container {
    background-color: rgba(255, 255, 255, 0.8); /* Add background color */
    padding: 10px; /* Add some padding */
    text-align: center; /* Align moves to the center */
}

.move-pair {
    display: inline-block; /* Display move pairs in a row */
    margin-right: 10px; /* Add some margin between move pairs */
}

.move-pair:last-child {
    margin-right: 0; /* Remove margin for the last move pair */
}

