.square {
    width: 75px;
    height: 75px;
}

.dark-tile {
    background-color: #363636;
}

.light-tile {
    background-color: #595959;
}

.square-highlight {
    box-shadow: 0 0 10px 3px rgba(255, 215, 0, 0.7); /* Gold glow around the square */
}

.square .chess-piece {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
}

.square .chess-piece:hover {
    cursor: grab;
}

.square .chess-piece:active {
    cursor: grabbing;
}
